  <header>
    <h1>Basic CMS</h1>
  </header>
  <main>

    <% if session[:error] %>
      <div class="message">
        <p><%= session.delete(:error) %></p>
      </div>
    <% end %>

    <% if session[:success] %>
      <div class="message">
        <p><%= session.delete(:success) %></p>
      </div>
    <% end %>
    
    <ul>
    <% @files.each do |file| %>
      <li><a href="/<%= file %>"><%= file %></a> - <a href="/<%= file %>/edit">Edit</a></li>
    <% end %>
    </ul>
    <a href="/new">New Document</a>
  </main>